@media only screen and (min-width: 768px) {
  div.bookList-bookInput-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    padding-top: 2.375rem;
    padding-bottom: 16.563rem;

    ul {
      width: 85.71%;
      display: flex;
      flex-direction: column;
      gap: 0.938rem;

      li {
        background-color: #fff;
        list-style: none;
        display: flex;
        align-items: center;
        height: 10.625rem;

        div.left-div {
          margin-left: 2.25%;
          width: 18.5%;

          span {
            font-size: 0.875rem;
            font-family: RobotoSlab, sans-serif;
            font-weight: 300;
            color: #4386bf;
            opacity: 0.7;
          }

          span:nth-child(1) {
            font-size: 0.875rem;
            color: #121212;
            opacity: 0.5;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
          }

          h3 {
            font-size: 1.375rem;
            font-family: RobotoSlab, sans-serif;
            font-weight: bold;
            color: #121212;
          }

          div.buttons-div {
            display: flex;
            justify-content: space-between;
            margin-top: 1.313rem;

            button {
              font-size: 0.875rem;
              font-family: RobotoSlab, sans-serif;
              font-weight: 300;
              color: #4386bf;
              background: none;
              border: none;
              opacity: 0.7;
            }

            button:nth-child(2) {
              padding: 0 8% 0 8%;
              border-left: 1px solid #e8e8e8;
              border-right: 1px solid #e8e8e8;
            }
          }
        }

        div.progress-div {
          width: 14.17%;
          margin-left: 27.92%;
          height: 4.25rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div.diagram-box {
            width: 40%;
            aspect-ratio: 1/1;
            border: 5px solid #4386bf;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          div.progress-status {
            width: 47.06%;
            display: flex;
            flex-direction: column;

            span {
              font-family: Montserrat, sans-serif;
              color: #121212;
            }

            span:nth-child(1) {
              font-size: 2rem;
            }

            span:nth-child(2) {
              font-size: 0.875rem;
            }
          }
        }
      }

      div.current-chapter {
        width: 20.25%;
        display: flex;
        flex-direction: column;
        margin-left: 6.58%;
        font-family: RobotoSlab, sans-serif;
        color: #121212;
        justify-content: center;
        padding-left: 4.91%;
        border-left: 1px solid #e8e8e8;

        span.title {
          font-size: 0.813rem;
          opacity: 0.5;
          font-weight: 300;
        }

        span.data {
          font-size: 1rem;
          font-weight: 300;
          margin-top: 0.438rem;
        }

        button.update-progress {
          background-color: #0290ff;
          height: 2.063rem;
          margin-top: 1.438rem;
          border: none;
          border-radius: 3px;
          color: #fff;
          font-weight: 300;
        }
      }
    }

    form {
      border-top: 1px solid #e8e8e8;
      width: 85.71%;
      padding-top: 1.183rem;

      span.form-title {
        font-family: Montserrat, sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        color: #888;
        letter-spacing: -0.18px;
      }

      div.inputs-container {
        margin-top: 1.188rem;
        display: flex;
        gap: 2.83%;

        input {
          height: 2.813rem;
          border: 1px solid #e8e8e8;
          border-radius: 4px;
          padding-left: 1rem;
        }

        ::placeholder {
          font-family: Montserrat, sans-serif;
          font-size: 1rem;
          color: #c4c4c4;
          letter-spacing: -0.15px;
        }

        input.book-title {
          width: 55.33%;
        }

        input.book-author {
          width: 23.75%;
        }

        button.add-book {
          width: 15.33%;
          border-radius: 3px;
          background-color: #0290ff;
          color: #fff;
          font-size: 0.813rem;
          font-weight: bold;
          font-family: RobotoSlab, sans-serif;
          letter-spacing: 0.5px;
          border: none;
        }
      }
    }
  }
}
